.photo-grid {
  max-width: 1190px;
  display: grid;
  width: 1184px;
  grid-template-columns: repeat(4, 284px);
  grid-template-rows: repeat(2, 213px);
  grid-gap: 16px 16px;
  margin: 26px auto 92px;
}

.photo-grid__item {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .photo-grid {
    /*grid-template-columns: 288px;
    grid-template-rows: repeat(8, 216px);
    grid-gap: 12px;*/
    margin: 0 0 64px;
    max-width: 316px;
    width: 100%;
    display: block;
    padding: 0 2px;
  }

  /*.photo-grid__header {
    grid-column: span 1;
  }*/
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(2, 352px);
    grid-template-rows: repeat(4, 264px);
    margin: 0 24px 88px;
    width: 720px;
  }

  .photo-grid__header {
    grid-column: span 2;
  }
}
